@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: var(--night-color);
    --background-color: var(--light-color);
  }
}

:root {
}

* {
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
#skills>ul {
  display: flex;
  flex-wrap: wrap;
}

#skills>ul>li {
  display: inline-block;
  margin: 1em;
  width: 140px;
  border: 1px
          solid
          color-mix(in srgb,
                    var(--foreground-color) 20%,
                    transparent);
  border-radius: 10px;
  padding: 1em;
}

#skills>ul>li>div>span {
  padding: 0.5em;
}

#skills>ul>li>div>img {
  border-radius: 10%;
  padding: 4px;
}

#skills>ul>li>div>img.night {
  background-color: var(--night-color);
}

#skills>ul>li>div>img.light {
  background-color: var(--light-color);
}

#skills>ul>li>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
