@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--light-color);
    --background-color: var(--night-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: var(--night-color);
    --background-color: var(--light-color);
  }
}

@supports (color: AccentColor) {
  :root {
    --accent-color: AccentColor;
  }
}

@supports not (color: AccentColor) {
  :root {
    --accent-color: #0066cc;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
}

#skills>section>ul {
  display: flex;
  flex-wrap: wrap;
}

#skills>section>ul>li {
  display: inline-block;
  margin: 1em;
  width: 140px;
  border: 1px solid color-mix(in srgb,
      var(--accent-color) 50%,
      transparent);
  border-radius: 10px;
  padding: 1em;
}

#skills>section>ul>li>div>span {
  padding: 0.5em;
}

#skills>section>ul>li>div>img {
  border-radius: 10%;
  padding: 4px;
}

#skills>section>ul>li>div>img.night {
  background-color: var(--night-color);
}

#skills>section>ul>li>div>img.light {
  background-color: var(--light-color);
}

#skills>section>ul>li>div>img.none {
  background-color: #0000;
}

#skills>section>ul>li>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #0066cc;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
}

a:hover {
  border-bottom-color: #0066cc;
}
